name: CI

on: [push, pull_request, merge_group]

jobs:
  code-check:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        project:
          [
            .,
            ./templates/clean,
            ./templates/fastify,
            ./templates/nest,
            ./templates/elysia,
            ./templates/react-vite,
          ]

    name: Code check (${{ matrix.project }})

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: "pnpm"

      - name: Install dependencies
        run: |
          cd ${{ matrix.project }}
          pnpm install

      - name: Run type check
        run: |
          cd ${{ matrix.project }}
          pnpm typecheck

      - name: Run lint
        run: |
          cd ${{ matrix.project }}
          pnpm lint

      - name: Run formatting code check
        run: |
          cd ${{ matrix.project }}
          pnpm prettier . --check

  integration-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        project: [./templates/fastify, ./templates/nest]

    name: Integration test (${{ matrix.project }})

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: "pnpm"

      - name: Install dependencies
        working-directory: ${{ matrix.project }}
        run: pnpm install

      - name: Run integration test
        working-directory: ${{ matrix.project }}
        run: pnpm test:integration

  e2e-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        project: [.]

    name: E2E test (${{ matrix.project }})

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: "pnpm"

      - name: Install dependencies
        working-directory: ${{ matrix.project }}
        run: pnpm install

      - name: Run e2e test
        working-directory: ${{ matrix.project }}
        run: pnpm test:e2e
